.mint-header {
    // width: 375px;
    height: 2.75rem;
    background: #EB4646;
    font-size: 18px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 25px;
}

